@model ChosenFilmModel

    <div class="card mb-3">
    <img src="@Model.ChosenFilm.Image" class="card-img-top" alt="@Model.ChosenFilm.Title">
    <div class="card-body">
        <div class="card-body">
            <h5 class="card-title">@Model.ChosenFilm.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.ChosenFilmGenre.Name</h6>
            <p class="card-text">Director: @Model.ChosenFilm.Director</p>
            <p class="card-text">Cast: @Model.ChosenFilm.Cast</p>
            <p class="card-text">@Model.ChosenFilm.Synopsis</p>
            <p class="card-text">@Model.ChosenFilm.DurationInMin min</p>
            <p class="card-text">Released: @Model.ChosenFilm.ReleaseDate.ToShortDateString()</p>
            <br />
            <br />
            <p class="card-text">Choose a screening:</p>

            @foreach (var screeningTime in Model.ScreeningTimes)
            {
                <a asp-route-controller="Booking" asp-route-action="Bookings" asp-route-filmId="@Model.ChosenFilm.Id" asp-route-time="@screeningTime.ToString()"> @screeningTime</a>
            }
        </div>
    </div>
    </div>